@page
@model PressStart.Pages.Admin.Games.AddGameModel
@{
}
<h1>Add a Game</h1>
<div class="mt-3">
  <form method="POST">
    <div class="form-group row">
      <label asp-for="GameName" class="col-sm-2 col-form-label">Game Name</label>
      <div class="col-sm-10">
        <input asp-for="GameName" class="form-control" />
        <span asp-validation-for="GameName"></span>
      </div>
    </div>
    <div class="form-group row">
      <label asp-for="GameType" class="col-sm-2 col-form-label">Game Type</label>
      <div class="col-sm-10">
        <textarea asp-for="GameType" class="form-control" rows="5"></textarea>
        <span asp-validation-for="GameType"></span>
      </div>
    </div>
    
    <div class="form-group row">
      <label asp-for="ThumbnailPath" class="col-sm-2 col-form-label">Thumbnail Path</label>
      <div class="col-sm-10">
        <textarea asp-for="ThumbnailPath" class="form-control" rows="5"></textarea>
        <span asp-validation-for="ThumbnailPath"></span>
      </div>
    </div>
    <div class="form-group row">
      <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description"></span>
      </div>
    </div>
    <p>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Load game Rom</button>
      
      <button class="btn btn-primary">Add Game</button>
    </p>
  </form>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Load Rom</h4>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="files" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-primary" type="submit" value="Upload" />
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>