@page
@model PressStart.Pages.CheckoutSuccessModel
@{
}
<html>

<head>


    <link rel="stylesheet" href="style.css">

</head>

<body>

    <section>

        <p>

            Thanks for signing up to PressStart! Time to enjoy some great games..

            <a href="/Index">PLAY!!</a>.

        </p>

    </section>

</body>

</html>