@page
@model PressStart.Pages.CheckoutCancelModel
@{
}
<html>

<head>


    <link rel="stylesheet" href="style.css">

</head>

<body>

    <section>

        <p>Not ready to sign up yet? We'll be here when you change your mind.</p><br>

        <a href="/Index">Home</a>

    </section>

</body>

</html>