@page
@model PressStart.Pages.CheckoutModel
@{
}
<!DOCTYPE html>

<html>

<head>


    <link rel="stylesheet" href="style.css">

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>

    <script src="https://js.stripe.com/v3/"></script>

</head>

<body>

    <section>

        <div class="product">

            <img src="joystickneon.png" alt="PressStart sub">

            <div class="description">

                <h3>PressStart One-Month Subscription</h3>

                <h5>$3.00 Per Month</h5>

            </div>

        </div>

        <button type="button" id="checkout-button">Checkout</button>

    </section>

</body>

<script type="text/javascript">

    // Create an instance of the Stripe object with your publishable API key

    var stripe = Stripe("pk_test_51J0pBABEo9A7CLJ3yZwWafPG5FTAerfBrFHTgkFIGArV4nV8LQU5LdbocfEgMQYoYmaBwtjnHBBn0xqp4GXF8xoS00dSqI3M7O");

    var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function () {

        fetch("/create-checkout-session", {

            method: "POST",

        })

            .then(function (response) {

                return response.json();

            })

            .then(function (session) {

                return stripe.redirectToCheckout({ sessionId: session.id });

            })

            .then(function (result) {

                // If redirectToCheckout fails due to a browser or network

                // error, you should display the localized error message to your

                // customer using error.message.

                if (result.error) {

                    alert(result.error.message);

                }

            })

            .catch(function (error) {

                console.error("Error:", error);

            });

    });

</script>

</html>
